# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class


# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Virtual environments
easiEnv/
venv/
ENV/
env/
.venv/
venv.bak/
easiEnv

# Flask-specific
instance/
*.db
*.sqlite3
.env
.flaskenv

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Other
*.pyc
*.pyo
*.pyd